@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3949ab;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  animation: spinner 1.5s linear infinite;
}

.hover\:shadow-product.bg-white:hover {
  -webkit-box-shadow: 5px 10px 12px 5px #d3d3d3;
  box-shadow: 5px 10px 12px 5px #d3d3d3;
}

/* Mega Menu */

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  position: relative;
  padding: 0 8px;
  align-content: flex-start;
  justify-content: flex-end;
  width: 100%;
}
.sticky .menu {
  align-content: center;
  justify-content: flex-end;
}
nav ul,
nav ol {
  list-style: none none;
}
.submenu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  /* left: 0; */
  width: calc(900px / 2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000000;
  padding: 10px;
}
.level0 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.level0:hover .submenu {
  display: block;
  visibility: visible;
}
.level1 {
  left: 0;
  margin-left: auto;
  height: auto;
  z-index: 1;
  position: relative;
  padding-left: 10px;
}
.level1-haschild > span {
  color: var(--green);
  text-decoration: none;
  font-weight: 700;
}
.level1-cat {
  padding: 5px;
}
.level1-cat.level1-haschild {
  width: 50%;
  float: left;
}
.level2 {
  padding-left: 0;
}
.level2 .level2-cat a {
  padding: 10px 0px;
}

.awssld {
  z-index: -1;
}
